@model EquipmentManagement.Models.BorrowOrder

@{
    ViewData["Title"] = "編輯租借明細";
}

            <h1>@ViewData["Title"]</h1>

            <h4>BorrowOrder</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Stu_mail" class="control-label"></label>
                            <input asp-for="Stu_mail" class="form-control" />
                            <span asp-validation-for="Stu_mail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Borrow_time" class="control-label"></label>
                            <input asp-for="Borrow_time" class="form-control" />
                            <span asp-validation-for="Borrow_time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Restore_time" class="control-label"></label>
                            <input asp-for="Restore_time" class="form-control" />
                            <span asp-validation-for="Restore_time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Remark" class="control-label"></label>
                            <input asp-for="Remark" class="form-control" />
                            <span asp-validation-for="Remark" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
