@model EquipmentManagement.Models.Equipment

@{
    ViewData["Title"] = "器材資訊更新";
}

            <h1>@ViewData["Title"]</h1>

            <h4>Equipment</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        @if (Model.Img != null) {
                            <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Img)) " width="150" class="img-thumbnail "  style="margin-bottom:20px"/>
                        }
                        <div class="form-group" >
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price_non_member" class="control-label"></label>
                            <input asp-for="Price_non_member" class="form-control" />
                            <span asp-validation-for="Price_non_member" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price_member" class="control-label"></label>
                            <input asp-for="Price_member" class="form-control" />
                            <span asp-validation-for="Price_member" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Source" class="control-label"></label>
                            <input asp-for="Source" class="form-control" />
                            <span asp-validation-for="Source" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Special" /> @Html.DisplayNameFor(model => model.Special)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="Period_time" class="control-label"></label>
                            <input asp-for="Period_time" class="form-control" />
                            <span asp-validation-for="Period_time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location_code" class="control-label"></label>
                            <input asp-for="Location_code" class="form-control" />
                            <span asp-validation-for="Location_code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">變更圖片</label>
                            <input class="form-control" type="file" name="Image" style="padding-bottom:40px" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </form>
                </div>

            </div>

            <div>
                <a asp-action="Index">回到上一頁</a>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
