@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}


<div class="page-wrap">
    <partial name="_Nav" />

    <!-- Main -->
    <section id="main">

        <header>
            <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">星野山社器材管理</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-1">

                <h1>帳戶管理</h1>

                <div>
                    <h4>請務必設定為正確的個人資料</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <partial name="_Footer" />

    </section>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
