@model EquipmentManagement.Models.Location

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除確認</h1>

<h3>已設定限制，請確定所有器材搬離此器材室才可刪除</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location_code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location_code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Location_code" />
        <input type="submit" value="確定刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回到上一頁</a>
    </form>
</div>
