@page
@model LoginModel
@{
    ViewData["Title"] = "登入";
}

@section CSS {
    <link href="~/css/style2.css" rel='stylesheet' type='text/css' media="all" />
}


        <div id="magrin"></div>

        <!-- title -->
        <h1>使用者登入</h1>
        <!-- //title -->
        <!-- content -->
        <div class="sub-main-w3">
            <form id="account" method="post">

                <div class="form-style-agile">
                    <input asp-for="Input.Email" class="form-control" type="text" placeholder="學號" onfocus="this.value = '';" onblur="if (this.value == '請輸入6-20位字元的帳號') " id="uname" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>               
                </div>
                <div class="form-style-agile">
                    <input asp-for="Input.Password" class="form-control" type="password" placeholder="請輸入密碼" onfocus="this.value = '';" onblur="if (this.value == '') " id="upass" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-style-agile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- checkbox -->
                    <label class="anim">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" class="checkbox" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </label>
                </div>

                <div class="wthree-text">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">返回首頁</a>
                        </li>
                        <li>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊帳號</a>
                            </p>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <input type="submit" value="登入" form="#" onclick="checkSingIn()">

            </form>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
            <script src="~/assets/js/login.js"></script>
            <script>
                addEventListener("load", function () {
                    setTimeout(hideURLbar, 0);
                }, false);

                function hideURLbar() {
                    window.scrollTo(0, 1);
                }
            </script>
        }
