@page
@model LoginModel

@{
    ViewData["Title"] = "登入";
}

@section CSS {
    <link href="~/css/style1.css" rel='stylesheet' type='text/css' media="all" />
}

<h1>星野登山社</h1>
<div class="log">

    <div class="content1">
        <h2>登入</h2>
        <form id="account" method="post" onsubmit="checkSingIn()">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" type="text" name="userid" value="學號" onfocus="this.value = '';" onblur="if (this.value == '請輸入6-20位字元的帳號') " id="uname" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" type="password" name="psw" placeholder="請輸入密碼" onfocus="this.value = '';" onblur="if (this.value == '') " id="upass" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div class="button-row">
                <input type="submit" class="sign-in" value="登入">
                <input type="reset" class="reset" value="重設">

                <div class="clear"></div>
            </div>

            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="~/assets/js/login.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
