@model EquipmentManagement.Models.Equipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_non_member" class="control-label"></label>
                <input asp-for="Price_non_member" class="form-control" />
                <span asp-validation-for="Price_non_member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_member" class="control-label"></label>
                <input asp-for="Price_member" class="form-control" />
                <span asp-validation-for="Price_member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Special" /> @Html.DisplayNameFor(model => model.Special)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Period_time" class="control-label"></label>
                <input asp-for="Period_time" class="form-control" />
                <span asp-validation-for="Period_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location_code" class="control-label"></label>
                <select asp-for="Location_code" class ="form-control" asp-items="ViewBag.Location_code"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
