@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header>
    <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">星野山社器材管理</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User)) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")) {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipments" asp-action="Index">器材管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">使用者管理</a>
                        </li>
                        }
                        @if (SignInManager.IsSignedIn(User)) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BorrowOrders" asp-action="Index">訂單查詢</a>
                            </li>
                        }
                    </ul>
            </div>
        </div>
    </nav>
</header>