<!-- Footer -->
        <footer id="footer">
            <div class="copyright">
                高科大星野登山社 - <a asp-area="" asp-controller="Home" asp-action="About">關於我們</a>
            </div>
        </footer>