@{
    ViewData["Title"] = "關於我們";
}

<div class="page-wrap">
    <partial name="_Nav" />

    <!-- Main -->
    <section id="main">
        <div class="gallery">


            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>


            </div>
            <partial name="_Footer" />
    </section>
</div>