@model IEnumerable<EquipmentManagement.Models.Equipment>
@{
    ViewData["Title"] = "首頁";
}
<div class="page-wrap">
    <partial name="_Nav" />
    <!-- Main -->
    <section id="main">
        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>星野器材管理系統</h1>
                <p>開放全校師生租用登山社器材中<br>＃大學時期不爬山太可惜了</p>
                <ul class="actions">
                    <li><a href="https://forms.gle/ynzbSCxxqAcfwHCe8" target="_blank" class="button alt scrolly big">立即預約</a></li>
                </ul>
            </div>
        </section>
        @if (Model.Count() != 0) {
            <!-- Gallery -->
            <section id="galleries">
                <!-- Photo Galleries -->
                <div class="gallery">
                    <header class="special">
                        <h2>熱門租借器材 </h2>
                    </header>

                    <div class="content">
                        @foreach (var item in Model) {
                            @if (item.Img != null) {
                                <div class="media">
                                    <img src="data:image/png;base64,@(Convert.ToBase64String(item.Img)) " title="@Html.Raw(item.Name)" />
                                </div>
                            }
                        }
                    </div>
                    <footer>
                        <a asp-area="" asp-controller="EquipmentsShow" asp-action="Index" class="button big">器材一覽表</a>
                    </footer>
                </div>
            </section>
        }
        <partial name="_Footer" />
    </section>
</div>
@section Scripts {
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
}
